body {
	background:	salmon;
	color: black;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.nav {
	position: fixed;
	top: 2px;
	padding-left: 20%;
	padding-right: 20px;
	border: 1px solid black;
	height: 25px;
}

.nav-bar {
	background: white;
	position: relative;
	top: 5px;
	font-family: 'PT Sans', sans-serif;
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 1px 1px 2px gray;
}

.nav-bar a {
	color: black; 
    background-color: transparent; 
    text-decoration: none;
}


.nav-items {
	margin-right: 25px;
}

.nav-items:hover {
    color: gray;
    text-decoration: underline;
}

.Home-content-area {
	display: block;
	background: white;
	text-align: center;
}

.tips-list {
	list-style-type: square;
	position: relative;
	left: -15px;
}
@media all and (min-width: 960px){

.Home-content-area {
	display: block;
	background: white;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	text-align: center;
}


.nav-bar {
	display: block;
	background: white;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	text-align: center;
}